.page {
  height: 100%;
  display: flex;
  overflow: hidden;
}
header {
  flex: 1;
  text-align: center;
}
.profile {
  display: inline-flex;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}
.infos .title {
  font-size: 20px;
}
.motto {
  text-align: center;
}

section {
  flex: 3;
}