html,
body {
  height: 100%;
  margin: 0;
}

.page {
  height: 100%;
  display: flex;
  overflow: hidden;
}
header {
  flex: 1;
  text-align: center;
  background-color: #f0f1f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile {
  display: inline-flex;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #000000;
  margin-right: 10px;
}
.infos {
  display: inline-flex;
  flex-direction: column;
}
.infos .title {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.infos .sex {
  display: flex;
  align-items: center;
  flex: 1;
}
.motto {
  text-align: center;
  margin-top: 30px;
}

section {
  flex: 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.articles {
  flex: 1;
  overflow: auto;
}
.article {
  background-color: #f0f1f2;
  padding: 10px;
}
.article-title {
  font-weight: bold;
  font-size: 18px;
}
.article-date {
  text-align: right;
  font-size: 4px;
}